# Ignore all layers
meta-*

# Ignore poky
poky/

# Ignore repo directory
.repo/

# Ignore build directory
build*/

# Ignore Edison-src
edison-src/

# Ignore shared directories
shared-*/

# Some log files from scripts
*.log

resin-device-types
